<div [@routerTransition]>




<!--  
    <p>print what </p>

    <div>
      <p>Job id  paresing== {{usertest.id}} </p>

    </div> -->



    <div class="row">
        <div class="col-md-3">
            <div class="input-field flex-container2">
           
                    <select name="items" (change)="onItemSelected($event.target.value)">
                        <option>Search By</option>
                        <option *ngFor="let item of items" [value]="item.field">{{ item.field }}</option>
                    </select>

                    <input [(ngModel)]="letsSearch" type="text" placeholder="Enter Text">

                    <button (click)="confirmletsSearch()" type="button">
                        <span class="click-span">&#8594;</span>
                    </button>
              
            </div>
        </div>

    </div>
</div>

<br>
<div class="row">
    <div class="col-md-3">
        <div class="input-field flex-container2">
            <input [(ngModel)]="pdfSearch" type="text" placeholder="search inside pdf">
            <button style="width: 22%;" type="button" class="btn btn-outline-success"
                (click)="searchPdf()">search</button>
        </div>
    </div>
</div>

<br><br>


<div class="card mb-3">
    <br><br>

    <table class="card-body table table-hover">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Status</th>
                <th>CV file</th>
                <th>Phone Number</th>
                <th>gpa </th>

                <th>Accept</th>


            </tr>
        </thead>





        <tbody *ngFor="let user of AppyJobs ">
            <tr>


                <td>{{user.pushJob.pre_title}}</td>
                <td>{{user.full_Name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.city}}</td>

                <td>


                    <select name="items" (change)="onItemSelectedstatusS($event.target.value, user.email)">
                        <option>Status</option>
                        <option *ngFor="let item of status" [value]="item.field">{{ item.field }}</option>
                    </select>


                </td>

                <td> <a href="{{user.productImage}}" target="_blank">
                        {{user.fileDisplayName}}

                    </a> </td>
                <td> 0{{user.phone_Number}}</td>
                <td>{{user.gpa}}</td>



                <td> <button type="button" class="btn btn-outline-success" (click)="confirmTosend()">
                        Accept</button> </td>




        </tbody>
    </table>
</div>




<br>
<br>

<h2>All Aprroved</h2>
<table class="card-body table table-hover">
    <thead>
        <tr>

            <th>Email</th>

            <th>Status</th>



        </tr>
    </thead>





    <tbody *ngFor="let userapprove of approvedUser ">
        <tr>



            <td>{{userapprove.emailUser}}</td>

            <td>Approve</td>







    </tbody>
</table>


<br><br>

<h2>All Rejcted</h2>
<table class="card-body table table-hover">
    <thead>
        <tr>

            <th>Email</th>

            <th>Status</th>



        </tr>
    </thead>





    <tbody *ngFor="let userreject of rejectedUser ">
        <tr>



            <td>{{userreject.emailUser}}</td>

            <td>Reject</td>







    </tbody>
</table>