<div class="main">

  <!------------------left------------------->



  <!------------center---------------------->




  <div class="center">
    <div class="my_post">

      <div class="post_top">





        <form [formGroup]="form" role="form" id="createForm" (ngSubmit)="onPost()">


          <form role="form2" id="createForm" (ngSubmit)="onPost()" [formGroup]="form2">
            <input style="border: none; background-color: white;   display: flex;
            flex-direction: column;     " type="text" formControlName="text" />
          </form>


          <textarea style="border: none; background-color: white;   outline: none;" formControlName="productName"
            cols="60">
            </textarea>


            
          <!-- <input type="text" class="form-control" formControlName="productName" placeholder="Share with us your experince ?"> -->
          <!-- <div *ngIf="(f['productName'].touched || f['productName'].dirty) && f['productName'].invalid">
              <div *ngIf="f['productName'].errors?.['required']" class="text-danger">Subject is reqires</div>
            </div> -->



          <br>
          <div class="mb-3">

            <input style="background-color: whitesmoke;" type="file" (change)="onChange($event)">
          </div>


          <div class="mb-3 form-check" *ngIf="status">
            {{status.message}}
          </div>



          <hr>

          <div class="post_bottom">



            <!-- //form="createForm" -->
            <!-- <button class="btn btn-sm btn-success" type="button">Post</button> -->
            <button type="submit" class="btn btn-sm btn-success" form="createForm">Submit</button>
            <!-- <a (click)="submit()" [routerLink]="['/login']" class="btn rounded-btn"  form="createForm">{{
            'Submit' | translate
        }}</a> -->


          </div>

        </form>

      </div>

    </div>