<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->

    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4 *ngIf="comapny2"> {{comapny2.userName}}</h4>








                <p>print what </p>

                <div>
                  <p>user with id == {{usertest.id}} </p>

                </div>









              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">



            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-instagram mr-2 icon-inline text-danger">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>Instagram</h6>
              <!-- <span class="text-secondary">bootdey</span> -->
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-facebook mr-2 icon-inline text-primary">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>Facebook</h6>
              <!-- <span class="text-secondary">bootdey</span> -->
            </li>
          </ul>
        </div>
      </div>


      <div *ngIf="comapny2" class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{comapny2.userName}}
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{comapny2.email}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">about</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{comapny2.about}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{comapny2.phoneNumber}}

              </div>
            </div>

            <hr>



            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{comapny2.address}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" target="__blank"
                  href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
              </div>
            </div>
          </div>
        </div>
        <hr>


      </div>
      <h1>Services</h1>

      <div class="row gutters-sm">

        <div class="col-sm-6 mb-3">

          <div class="card h-100">

            <div *ngIf="comapny2" class="card-body">





              <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">
                  {{comapny2.services_title}}
                </i></h6>
              <div>
                {{comapny2.services_about}}
              </div>






            </div>

          </div>
        </div>









        <div class="row gutters-sm">

          <div *ngFor="let pro of project" class="col-sm-6 mb-3">

            <div class="card h-100">

              <div class="card-body">




                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">{{pro.title}}
                    Services


                  </i></h6>
                <div>
                  {{pro.decription}}
                </div>


              </div>

            </div>
          </div>



          <p style=" margin-left: 2.6em; padding: 0 40em 3em 0;">

          <p style=" margin-left: 2.6em; padding: 0 40em 3em 0;">



          <div class="row gutters-sm">

            <!-- <div class="col-sm-6 mb-3"> -->
            <div class="col-sm-12 mb-3">
              <!-- borderr class -->
              <div class="card h-100">

                <div class="card-body">





                  <div class="row g-0 my-5">


<!-- 
                    <div class="col p-3">
                      <h3>Give Your Review</h3>
                      <h5 class="mt-4">Write Your Review</h5>

                      <form role="form" id="createForm" (ngSubmit)="submit()" [formGroup]="form">


                        <div class="form-content">


                          <div class="form-group">
                            <input placeholder="UserName" class="form-control input-underline input-lg" type="text"
                              formControlName="UserName" />
                          </div>


                          <br>


                          <div class="form-group">
                            <input placeholder="ReviewContent" class="form-control input-underline input-lg" type="text"
                              formControlName="ReviewContent" />
                          </div>

                          <br>


                        </div>

                      </form>





                      <div class="d-flex align-items-start">

                        <a (click)="submit()" class="btn btn-outline-secondary mt-4 me-5" form="createForm">{{
                          'Save Review'
                          }}</a>



                        <div>



                          <br><br><br>




                          <h6 class="text-success" *ngIf="reviewSaved">Review Saved Succesfully!</h6>
                        </div>
                      </div>
                    </div> -->









                    <!-- Other Review -->
                    <div class="col p-3">
                      <h3>Other Reviews</h3>
                      <!-- <h6 *ngIf="otherReviews.length === 0">No Reviews Yet!</h6> -->


                      <!-- <div class="card mt-3" *ngFor="let review of otherReviews"> -->
                      <div *ngFor="let ss of reviews" class="card mt-3">
                        <div class="card-header d-flex justify-content-between">
                          <div class="card-text">
                            {{ss.userName}}

                          </div>

                        </div>
                        <div class="card-body">
                          <div class="card-text">{{ss.reviewContent}}</div>


                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>

            </div>

          </div>

        </div>


      </div>



    </div>
  </div>

</div>