$topnav-background-color: #121421;
:host {
    display: block;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #fff;
    padding: 12em;

    .col-lg-4 {
        padding: 0;
    }

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #4a80f0;
        border-radius: 0;
    }

    .input-underline:focus {
        border-bottom: 2px solid ;
        box-shadow: none;
    }

    .rounded-btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border-radius: 50px;
        transition: background-color 0.3s ease;
    }

    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
     background-color: #0056b3;
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
        background-color: #0056b3;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;

        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .bottom-div-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100vh;
      }
      
      .bottom-div-container > div {
        margin-bottom: 20px;
      }
      
      .bottom-div-container a {
        color: #007bff;
        text-decoration: none;
      }
      
      .bottom-div-container a:hover {
        text-decoration: underline;
      }
      
    .form-group {
        padding: 8px 0;

        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }

    .form-content {
        padding: 40px 0;
    }

    .user-avatar {
       
    }
}

