<div [@routerTransition]>
    <!-- <h2 class="text-muted">الصفحة الرئيسيه <small>Statistics Overview</small></h2> -->
    <section style="background-color: white;" class="section about-section gray-bg" id="about">


        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3 class="dark-color">About Us</h3>
                        <p>I Jobs Hub <mark>for recruitment</mark> is the largest and first approved site for employment
                            in Palestine.
                            Since its establishment ten years ago in 2008 as Jobs Employment and Advertising Company,
                            Jobs has played an important role in providing
                            comprehensive and integrated employment solutions to employers and job seekers in Palestine
                        </p>
                        <div class="row about-list">

                            <div class="col-md-6">
                                <div class="media">
                                    <label>E-mail</label>
                                    <p>admainh@gmail.com</p>
                                </div>
                                <div class="media">
                                    <label>Phone</label>
                                    <p>820-885-3321</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-avatar">
                        <img [src]="jobs" title="" alt="">

                    </div>
                </div>
            </div>



            <p style=" margin-left: 2.6em; padding: 0 40em 3em 0;">

            </p>


        </div>
    </section>



    <section style="background-color: white;" class="container">
        <div class="container" style="background-color: rgb(251, 255, 251);">
            <div class="text-center mb-2-8 mb-lg-6">
                <h1 class="display-18 display-md-16 display-lg-14 font-weight-700">What we offer</h1>

            </div>
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
                    <div class="pr-md-3">
                        <div class="text-center text-sm-right mb-2-9">
                            <div class="mb-4">
                                <img [src]="logo_post" alt="..." class="rounded-circle">
                            </div>

                        </div>


                        <div class="text-center text-sm-left">
                            <div class="mb-4">
                                <img [src]="apply" alt="..." class="rounded-circle">
                            </div>

                        </div>

                    </div>
                </div>




                <div class="col-lg-4 d-none d-lg-block">
                    <div class="why-choose-center-image">
                        <img [src]="all" alt="..." class="rounded-circle">
                    </div>
                </div>




                <div class="col-sm-6 col-lg-4">
                    <div class="pl-md-3">

                        <div class="text-center text-sm-left mb-2-9">

                            <div class="mb-4">
                                <img [src]="cv" alt="..." class="rounded-circle">
                            </div>


                        </div>
                        <div class="text-center text-sm-right">
                            <div class="mb-4">
                                <img [src]="job_logo" alt="..." class="rounded-circle">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-sm-9 col-lg-7">


                    <div class="card-header with-elements">
                        <h2 class="card-header-title">All users in our program &nbsp;
                            <!-- <small class="text-muted">591</small> -->
                        </h2>

                    </div>
                    <div class="row no-gutters row-bordered row-border-light"
                        style="height: 400px; overflow-y: scroll;">


                        <a *ngFor="let oneUser of username " href="javascript:void(0)"
                            class="d-flex col-2 col-sm-2 col-md-2 flex-column align-items-center text-body py-3 px-2">
                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt=""
                                class="d-block ui-w-40 rounded-circle mb-2">
                            <div>

                                <a type="button" [routerLink]="['/employee-page',  oneUser.id ]"> {{oneUser.userName}}

                                </a>
                            </div>

                        </a>
                    </div>

                </div>
            </div>
        </div>




    </section>







    <hr />
    <div class="row">
        <!-- <div class="col-xl-4 col-lg-10">


            <div class="card-header with-elements">
                <h2 class="card-header-title">All users in our program &nbsp;
                </h2>

            </div>
            <div class="row no-gutters row-bordered row-border-light" style="height: 400px; overflow-y: scroll;">


                <a *ngFor="let oneUser of username " href="javascript:void(0)"
                    class="d-flex col-2 col-sm-2 col-md-2 flex-column align-items-center text-body py-3 px-2">
                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt=""
                        class="d-block ui-w-40 rounded-circle mb-2">
                    <div>

                        <a type="button" [routerLink]="['/employee-page',  oneUser.id ]"> {{oneUser.userName}}

                        </a>
                    </div>

                </a>
            </div>

        </div>
 -->


        <div class="col-xl-6 col-lg-6">





            <!-- <div class="card"> -->
            <!-- <div class="card-body">
                    <div class="card-title">Chat Box</div>

                </div> -->

            <!-- <div class="m-9 p-5">
                    <div class="msg-box"> -->

            <!-- <div class="chat-container">


                            <ul class="chat-box chatContainerScroll" style="height: 130px; overflow-y: scroll;">
                                <li class="chat-left" *ngFor="let mObj of msgInboxArray"
                                    [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">

                                    <div class="chat-avatar">
                                        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                            alt="Retail Admin">
                                         
                                        <div   *ngIf="user" class="chat-name"> From: {{user.userName}}</div>
                                    </div>

                                    <div class="chat-text"> <span style="color: black;"> To :</span> {{mObj.user}}
                                        <br />

                                        <span class="msg-italic-style"> {{mObj.msgText}}</span><br />
                                        <br>


                                    </div>
                                    <div class="chat-hour">{{mObj.date | date:'medium'}} <span
                                            class="fa fa-check-circle"></span></div>
                                </li>

                            </ul>



                        </div> -->
            <!-- <ul>
            
                            <li *ngFor="let mObj of msgInboxArray" [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">
                                <span style="color: black; "> From :</span> Seema
                                <span style="color: black;"> To :</span> {{mObj.user}} <br />
            
                                <span class="msg-italic-style"> {{mObj.msgText}}</span><br />
                                <span style="font-size: xx-small;" class="time_date"> {{mObj.date | date:'medium'}} </span>
                                <br>
                                <br>
            
                            </li>
            
                        </ul> -->
            <!-- 
                    </div> -->
            <!-- 
                    <br><br>
                    <br> -->

            <!-- <input style="width: 5cm;background-color: rgb(255, 255, 255)" type="text" placeholder="To :"
                        class="name-box" [(ngModel)]="msgDto.user" class="form-control" />

                    <div class="ud-flex-row">
                        <input type="text" class="msg-Input form-control" placeholder="Enter Msg" [(ngModel)]="msgDto.msgText"> -->
            <!-- 
                        <textarea class="form-control" class="msg-Input form-control" [(ngModel)]="msgDto.msgText"
                            placeholder="Enter Msg:" cols="60" rows="3">
                     </textarea>
                        <br> <button class="btn btn-info" (click)="send()"> Send</button>
                    </div>  -->

            <!-- </div>
            </div> -->






























            <!-- </div> -->
            <!-- <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'"  [icon]="'fa-tasks'" [label]="'New post!'"></app-stat>
        </div> -->




        </div>


        <br>








        <div class="row">

            <div class="card card-default">
                <!-- /.card-header -->

                <app-timeline></app-timeline>
                <!-- /.card-body -->

                <!-- /.card -->
            </div>
            <!-- /.col-lg-8 -->

            <!-- /.col-lg-4 -->





        </div>


        <!-- <div>

        <h1> name from token are ,, {{tokenName}}</h1>

        <h1> email from token are ,, email , {{email}} </h1>

        <h1> role from token are ,, role , {{role}} </h1>


        <h1> id from token are ,, id is , {{id_login}} </h1>





    </div> -->
        <!-- 
    <br>
    <br>
    <br> -->