<div [@routerTransition] class="reset-page">
    <div class="row justify-content-md-center">
      


            <!-- this code fot reset email -->

           

                <br><br>
                <br>


                <div class="form-group ot-3">



                    <div class="input-field"> <input [(ngModel)]="resetPasswordEmail"
                            (ngModelChange)="checkvalidEmail($event)" type="text" placeholder="email"></div>
                </div>

                <div style="color: red;" *ngIf="!resetPasswordEmail" class="text-danger"> *email is reqquisrd</div>
                <div style="color: red;" *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger"> *email is
                    invalid
                </div>
                <div>

                    <!-- we add id="closrbtn" toclose form -->
                    <button type="button" class="btn btn-primary" (click)="confirmTosend()"> send</button>

                </div>

       

        </div>


</div>