<div class="row">
  <div class="col-lg-6">

      <form role="form" id="createForm" (ngSubmit)="submit()" [formGroup]="form">

          <div class="form-group">
              <label>الاسم الرباعي</label>
              <input class="form-control" type="text" id="name" name="name" formControlName="name" />
          </div>

          <div class="form-group">
              <label> العمر</label>
              <input class="form-control" type="text" id="ages" name="ages" formControlName="ages" />
          </div>

          <div class="form-group">
            <label>الجنس</label>
            <select class="form-control" formControlName="genderId">
              <option *ngFor="let genders of gender" [value]="genders.id">{{ genders.genderName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>الجامعة</label>
            <select class="form-control" formControlName="universityId">
              <option *ngFor="let univer of universities" [value]="univer.id">{{ univer.universityName }}</option>
            </select>
          </div>
         

          <button class="btn btn-secondary"   type="submit" [disabled]="btnLoader" form="createForm">Submit Button</button>
          
          <button class="btn btn-secondary" type="reset">Reset Button</button>
      </form>
  </div>

</div>