

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBook</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>



    <div [@routerTransition]>

    <!------------main--------------->

    <div class="main">

        <!------------------left------------------->



        <!------------center---------------------->






        <div class="center">
            <div class="my_post">

                <div class="post_top">

                    <img src="image/profile.png">
                    <input type="text" placeholder="What's on you mind">

                </div>

                <hr>

                <div class="post_bottom">



                    <div class="post_icon">
                        <i class="fa-solid fa-images green"></i>
                        <p>Photo</p>

                    </div>

                    <button class="btn btn-sm btn-success" type="button">Post</button>


                </div>

            </div>





            <div class="friends_post">

                <div class="friend_post_top">

                    <div class="img_and_name">

                        <img src="image/post_1.jpg">

                        <div class="friends_name">
                            <p class="friends_name">
                                Senuda De Silva
                            </p>
                            <p class="time">16h.</p>
                        </div>


                    </div>

                    <div class="menu">

                        <i class="fa-solid fa-ellipsis"></i>

                    </div>

                </div>

                <img src="image/post_1.jpg">

                <div class="info">

                    <span>13 likes</span>
                </div>

                <hr>

                <div class="like">

                    <div class="like_icon">
                        <i class="fa-solid fa-thumbs-up activi"></i>
                        <p>Like</p>
                    </div>


                </div>

                <hr>

                <div class="comment_warpper">


                    <div class="circle"></div>

                    <div class="comment_search">

                        <input type="text" placeholder="Write a comment">


                    </div>

                </div>

            </div>



            <div class="friends_post">

                <div class="friend_post_top">

                    <div class="img_and_name">

                        <img src="image/post_1.jpg">

                        <div class="friends_name">
                            <p class="friends_name">
                                Senuda De Silva
                            </p>
                            <p class="time">16h.</p>
                        </div>


                    </div>

                    <div class="menu">

                        <i class="fa-solid fa-ellipsis"></i>

                    </div>

                </div>

                <label> i post this post about >>></label>
                <div class="info">

                    <span>13 likes</span>
                </div>

                <hr>

                <div class="like">

                    <div class="like_icon">
                        <i class="fa-solid fa-thumbs-up activi"></i>
                        <p>Like</p>
                    </div>


                </div>

                <hr>

                <div class="comment_warpper">


                    <div class="circle"></div>

                    <div class="comment_search">

                        <input type="text" placeholder="Write a comment">


                    </div>

                </div>

            </div>





        </div>

    </div>
    <!------------------right------------------>



</div>

</body>

</html>