<h1>Chat</h1>
<div class="card">
    <div class="card-body">
        <div class="card-title">Chat Box</div>

    </div>

    <div class="m-20 p-5">
        <div class="scrollable">
            <div class="box">
                <div class="chat-box chatContainerScroll">



                    <ul>

                        <li class="one">
                            <span style="color: black; "> From :</span> Asal
                            <span style="color: black;"> To :</span> All <br />

                            <span class="msg-italic-style"> Hello,
                                If you have any questions, please let us know </span><br />
                            <!-- <span style="font-size: xx-small;" class="time_date"> {{mObj.date | date:'medium'}} </span> -->
                            <span style="font-size: xx-small;" class="time_date"> May 1, 2023, 3:31:41 AM </span>

                            <br>
                            <br>


                        </li>

                        <li class="right">
                            <span style="color: black; "> From :</span> Maya
                            <span style="color: black;"> To :</span> Asal <br />

                            <span class="msg-italic-style">I want to inquire about the company's place?</span><br />
                            <span style="font-size: xx-small;" class="time_date"> May 2, 2023, 1:00:41 AM </span>

                            <br>
                            <br>


                        </li>



                        <li class="one">
                            <span style="color: black; "> From :</span> Asal
                            <span style="color: black;"> To :</span> Maya <br />

                            <span class="msg-italic-style">
                                Our location is in Palestine, Nablus, Rafidia Street </span><br />
                            <span style="font-size: xx-small;" class="time_date"> May 5, 2023, 3:31:41 AM </span>
                            <br>
                            <br>


                        </li>



                        <li class="right">
                            <span style="color: black; "> From :</span> Maya
                            <span style="color: black;"> To :</span> Asal <br />
                            <span class="msg-italic-style">OK thanks you,</span><br />

                            <span class="msg-italic-style">I want to inquire about QA postion ?</span><br />
                            <span style="font-size: xx-small;" class="time_date"> May 5, 2023, 3:33:41 AM </span>
                            <br>
                            <br>


                        </li>



                        <li class="rightcolor">
                            <span style="color: black; "> From :</span> Roaa
                            <span style="color: black;"> To :</span> Asal <br />

                            <span class="msg-italic-style">I want to inquire about the languages you use in the
                                BackEnd</span><br />
                            <span style="font-size: xx-small;" class="time_date"> May 5, 2023, 3:34:41 AM </span>
                            <br>
                            <br>


                        </li>



                        <li class="one">
                            <span style="color: black; "> From :</span> Asal
                            <span style="color: black;"> To :</span> Maya <br />

                            <span class="msg-italic-style">
                                A QA engineer creates tests that identify issues with software
                                before a <br>product launch.
                                These tests entail other tasks such as developing and <br>running new tests
                                and reporting their results to stakeholders, who will
                                <br>collaborate to fix program bugs or problems.
                            </span><br />
                            <span style="font-size: xx-small;" class="time_date"> May 8, 2023, 3:31:41 AM </span>
                            <br>
                            <br>


                        </li>

                    </ul>
                    <ul>

                        <li class="one">
                            <span style="color: black; "> From :</span> Asal
                            <span style="color: black;"> To :</span> Roaa <br />

                            <span class="msg-italic-style"> PHP,C#,ASP.net
                            </span><br />
                            <span style="font-size: xx-small;" class="time_date"> May 8, 2023, 3:31:41 AM </span>
                            <br>
                            <br>


                        </li>



                        <li class="rightcolor">
                            <span style="color: black; "> From :</span> Abood
                            <span style="color: black;"> To :</span> Asal <br />

                            <span class="msg-italic-style">I want to inquire about the languages you use in the
                                FrontEnd</span><br />
                            <span style="font-size: xx-small;" class="time_date"> Jun 3, 2023, 1:30:08 AM </span>



                            <br>
                            <br>


                        </li>



                    </ul>



                    <ul>

                        <li *ngFor="let mObj of msgInboxArray"
                            [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">
                            <span style="color: black; "> From :</span> Asal
                            <span style="color: black;"> To :</span> {{mObj.user}} <br />

                            <span class="msg-italic-style"> {{mObj.msgText}}</span><br />
                            <span style="font-size: xx-small;" class="time_date"> {{mObj.date | date:'medium'}} </span>



                            <br>
                            <br>

                        </li>

                    </ul>



                </div>
            </div>


        </div>

        <br><br>
        <br>

        To :<input style="width: 5cm;background-color: rgb(255, 255, 255)" type="text" placeholder=" name"
            class="name-box" [(ngModel)]="msgDto.user" class="form-control" />

        <div class="ud-flex-row">
            <!-- <input type="text" class="msg-Input form-control" placeholder="Enter Msg" [(ngModel)]="msgDto.msgText"> -->

            <textarea class="form-control" class="msg-Input form-control" [(ngModel)]="msgDto.msgText"
                placeholder="Enter Msg" cols="60" rows="3">
         </textarea>
            <button class="btn btn-info" (click)="send()"> Send</button>
        </div>

    </div>
</div>