<div [@routerTransition] class="reset-page">
    <div class="row justify-content-md-center">
      


        
            <div *ngIf="hide"> </div>
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Reset password for user</h4>
                    </div>

                    <div class="col-md-12"><label class="labels"> New Password</label>

                        <!-- <input type="password" class="form-control"  formControlName="password" value=""> -->


                        <input type="password" id="passwordInput" class="form-control" formControlName="password" value="">
<button id="togglePassword" onclick="togglePasswordVisibility()">
  <i id="eyeIcon" class="fa fa-eye"></i>
</button>

                    </div>






                    
                    <br>
                    <div class="col-md-12"><label class="labels">Verify the password</label>

                        <input  type="password" class="form-control" formControlName="confirmpassword" value="">
                    </div>


                    <h3  style="color: red;"  *ngIf="passwordMatchError" class="notification">
                        Passwords do not match
                    </h3>
                    <h3  style="color: green;"  *ngIf="!passwordMatchgreen" class="notification">
                        Passwords  match
                    </h3>
                    <br>

                    <br>
                    <!-- [routerLink]="['/login']" -->
                    <button  class="btn btn-info " type="submit" [disabled]="frm.invalid">

                        Registration</button>
<br> <br>
                        <button  *ngIf="!passwordMatchgreen"[routerLink]="['/login']"  class="btn btn-info ">

                            &lt;&lt; </button>

                </div>
            </form>




        </div>
  
</div>